// 主色
// 品牌色
$main:'#22262a';

// 辅助色
// 除了主色外的场景色，需要在不同的场景中使用（例如：危险色表示危险的操作，提示用户操作需谨慎）
$blue:'#409eff';
$red:'#f56262';
$gree:'#8bce62';

//中性色
// 中性色用于文本、背景和边框颜色。通过运用不同的中性色，来表现层次结构。
$font:"#383838";